{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock title %}

{% block content %}
<h3 class="fw-lighter fst-italic px-5">Bienvenidos a mi portafolio, acá encontrarán una amplia variedad de información que les 
    permitirá conocerme mejor como profesional, Los invito a explorar mi información personal, mi formación y habilidades técnicas 
    que he desarrollado a través de mi experiencia laboral y mis proyectos. Este espacio es una representación de mi compromiso 
    con la calidad en cada labor que realizo. Los animo a navegar por todas las secciones 
    y descubrir cómo puedo contribuir a su equipo. </h3>
{% endblock content %}