{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock title %}

{% block content %}
<h3 class="fw-lighter fst-italic px-5">Desarrollador Full Stack con Python e Ingeniero Comercial con más de 7 años de experiencia 
    en Retail y Supply Chain. Me caracterizo por ser una persona Orientada al servicio, Comprometida, Responsable, Autónoma. 
    Mi trayectoria enriquecida por la colaboración en equipos multidisciplinarios me facilita la integración en distintas organizaciones
     y cargos. Ansiando nuevos desafíos que fomenten mi crecimiento y me conecten con las últimas fronteras tecnológicas.</h3>
{% endblock content %}